.text {
  font-size: 12px;
}

.iconcpstb {
  width: 80px;
  height: 38px;
  background-position: -6px -398px;
  background-size: 500px;
  background-color: transparent;
}

.imgdmca {
  width: unset !important;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
